i.fa.fa-bank.white {
    color: white;
}

.btn-kembali {
    background-color: #436e81;
    border-color: #436e81;
    color: #fff;
}

.btn-kembali:hover {
    background-color: #416879;
    border-color: #416879;
    color: white;
}

.jarak {
    margin-top: 2%;
}

.black {
	color: #000;
}

.table-hover>tbody>tr:hover {
    background-color: #e3ecf1;
}

.callout-primary {
    background: #d8dde0;
    border-radius: 10px;
}

hr.garis-biru {
    border: 2px solid #3c8dbc;
}

